<article id="languageEdit" class="item edit">
	<header>
		<h1>Editing language</h1>
	</header>

<% form_for([:admin, @language]) do |f| %>

  <%= render "form", :f => f %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', [:admin, @language] %> |
<%= link_to 'Back', admin_languages_path %>

</article>