<h1>Languages</h1>

<%= link_to 'New language', new_admin_language_path, :class => "niceButton newItem"   %>

<table>
  <tr>
    <th class="mainName">Name</th>
	<th colspan="2"></th>
  </tr>

<% @languages.each do |language| %>
  <tr>
    <td class="mainName"><%= link_to h(language.name), [:admin, language] %></td>
    <td><%= link_to 'Edit', edit_admin_language_path(language), :class => "niceButton editItem"  %></td>
    <td><%= link_to 'Destroy', [:admin, language], :confirm => 'Are you sure?', :method => :delete, :class => "niceButton destroyItem"  %></td>
  </tr>
<% end %>
</table>

