<article id="pageEdit" class="item edit">
	<header>
		<h1>Editing page</h1>
	</header>

<% form_for([:admin, @page]) do |f| %>
 
	<% render "form", :f => f %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @page %> |
<%= link_to 'Back', admin_pages_path %>

</article>