<article id="licenceEdit" class="item edit">
	<header>
		<h1>Editing licence</h1>
	</header>

<% form_for([:admin, @licence]) do |f| %>

  <%= render "form", :f => f %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', [:admin, @licence] %> |
<%= link_to 'Back', admin_licences_path %>

</article>