/* admin stylesheet */

/* structure */
body
	{
		font-family: Helvetica, Arial, Sans-serif;
		font-size: 76%;
		margin: 0;
		padding:0;
		text-align: center;
		background-color:#222;
	}

#pageContainer
	{
		width:960px;
		margin:0 auto 50px auto;
		text-align:left;
		background-color:#222;
	}


/* header */

header#site
	{
		background-color:#222;
		display:block;
		margin:0;
		color:white;
		
	}

header#site h1
	{
		font-weight:normal;
		padding-top:7px;
		margin:5px 0 14px 6px;
		font-size:1.6em;
		float:left;
	}
	
#userStatus
	{
		margin:15px 0 14px 6px;
		float:right;
		width:300px;
		text-align:right;
	}
	
#userStatus a
	{
		color:white;
	}

header#site h1 a
	{
		text-decoration:none;
		color:white;
	}


/* main nav */

nav#main-nav
	{
		font-size:1.15em;
		display:block;
		margin:0;
		clear:both;
	}

nav#main-nav ul
	{
		list-style:none;
		margin:0 0 0 0;
		padding:0;
		display:block;
	}

nav#main-nav li
	{
		margin-right:1px;
		float:left;
		display:block;
	}
	
nav#main-nav a:link, nav#main-nav a:visited, nav#main-nav a:hover, nav#main-nav a:active 
	{
		display:block;
		padding:6px 4px 7px 8px;
		background-color:#004A99;
		color:white;
		font-weight:bold;
		text-decoration:none;
		width:7.3em;
	}
	
nav#main-nav a:hover
	{
		background-color:#508EC3;
	}
	
nav#main-nav li.current a
	{
		background-color:white;
		color:#004A99;
	}
	

/* article headers */

article header
	{
		display:block;
		clear:both;
	}

article header h1
	{
		width:400px;
		float:left;
	}
	
article header h1 a
	{
		text-decoration:none;
	}
	
article header nav
	{
		display:block;
		margin-top:15px;
		float:right;
	}
	
#mainCol article header nav a.niceButton
	{
		padding:8px 40px;
		font-size:1.2em;
	}

.item.show ul
	{
		line-height:150%;
		list-style:none;
		margin:0;
		padding:0;
	}


/* buttons and other furniture */

#mainCol a:link, #mainCol a:hover, #mainCol a:visited, #mainCol a:active 
	{
		color:#2282F0;
	}

#mainCol a.niceButton {
	display: inline-block;
	padding: 7px 10px 6px;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	line-height: 1;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	x-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);;
	x-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);;
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25)
	border-bottom: 1px solid #222;
	position: relative;
	cursor: pointer;
	
}

.niceButton {
	background-color:#888;
}

.niceButton:hover {
	background-color:#555;
}

.niceButton.newItem {
	background-color: #009FDF;
}

.niceButton.destroyItem {
	background-color: #99001B;
}

.niceButton.editItem {
	background-color:#290;
}

a.niceButton.newItem:hover {
	background-color: #006792;
}

a.niceButton.editItem:hover {
	background-color:#187000;
}

a.niceButton.destroyItem:hover {
	background-color: #690013;
}

	
/* footer */

footer
	{
		display:block;
		padding:6px 12px;
	}


/* flash notice */

#flashNotice
    {
    background-color:#FFF5A8;
    padding:10px;
    font-weight:bold;
    color:#666;
}

/* validation error notice */

.errorExplanation, #flashError
	{
		background-color:#FFE8E8;
    	padding:10px;
		color:#990000;
	}
	
.errorExplanation h2
	{
		margin:0;
	}

/* main content */

#mainCol
	{
		float:left;
		width:100%;
	}

#mainCol, .pageContent, footer
	{
		margin:0;
		background-color:white;
	}

.pageContent
	{
		margin:0;
		padding:0 12px 20px;
		
	}
	
.item h2
	{
		clear:both;
		border-bottom:1px solid #ccc;
		padding-bottom:6px;
		margin:40px 0 15px 0;
	}

/* forms */

label
	{
		display:block;
		font-weight:bold;
	}
	
p.radio input
	{
		float:left;
		margin-right:4px;
		line-height:170%;

	}
	
p.radio
	{
		margin:20px 0 20px 0;
		line-height:170%;;
	}

form p
	{
		display:block;
		clear:both;
		margin-bottom:20px;
	}

form input, form textarea, form select
	{
		font-size:1.1em;
	}
	
textarea
	{
		float:left;
	}
	
.fieldInfo
	{
		float:left;
		text-align:top;
		margin: 2px 0 0 10px;
		background-color:#f4f4f5;
		border:1px solid #e9e9e9;
		padding:6px 9px;
		color:#666;
	}

/* inputrow, used on the formats on the datasets page */

.inputrow label, .inputrow select, .inputrow input
	{
		display:inline;
	}
	
.inputrow select
	{
		margin-right:20px;
	}


.item.show p b
	{
		clear:both;
		display:block;
		margin-bottom:0px;
		font-size:0.9em;
	}

.item.show p
	{
		line-height:150%;
		font-size:1.1em;
		margin-bottom:20px;
		display:block;
	}

#data li
	{
		margin-bottom:5px;
	}

.formatType
	{
		font-weight:bold;
		width:50px;
		display:block;
		float:left;
	}

/* tables */

table
	{
		margin-top:10px;
		border-collapse:collapse;
	}
	
table tr th
	{
		background-color:#333;
		color:white;
	}

table tr td, table tr th
	{
		padding:5px 20px 5px 6px;
	}


table tr td
	{
		border-bottom:1px solid #eee;
		border-spacing:0;
	}

td.mainName
	{
		font-weight:bold;
		font-size:1.2em;
		line-height:200%;
		min-width:300px;
	}
	
td.mainName a
	{
		text-decoration:none;
	}

/* the clearfix */

.clearfix:after 
	{
	    content: "."; 
	    display: block; 
	    height: 0; 
	    clear: both; 
	    visibility: hidden;
	}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
/* End hide from IE-mac */