/* main stylesheet */

/* structure */
body
	{
		font-family: "Helvetica Neue", Helvetica, Arial, Sans-serif;
		font-size: 70%;
		margin: 0px;
		text-align: center;
		color: #323232;
	}

#pageContainer
	{
		width:760px;
		margin:0 auto;
		text-align:left;
	}
	
/* standards */

form
	{
		margin: 0;
		padding: 0;
	}

a, a:link
	{
		color: #3928AE;
	}
	
a:visited
	{
		color: #702376;
	}

a:hover	
	{
		color: #CC0000;
	}

	
/***** Top Bar starts *****/

#top-navbar {
	display:block;
	width: 761px;
	background-color: #999;
	padding: 4px 0 5px 0;
}

#top-navbar ul 
	{
		display: inline;	
		margin: 0;
		padding: 0;
	}

#top-navbar li{
	display: inline;
	padding: 0 0 0 10px;
}

#top-navbar li a
	{
		color: white;
	}

#top-navbar  li a:hover{
	color: white !important;
	text-decoration:underline !important;
}

.top-navbar-right{
	text-align: right;	
	margin-left: 346px;
}

/** Top Bar ends **/


/** Main Nav starts **/

header#main .logo
	{
		float: left;
		width: 171px;
		height:74px;
		background:url('http://www.warwickshire.gov.uk/Web/graphics/Graphics.nsf/graphics/WCCtopleftlogo/%24file/wcc_logo2005.gif') no-repeat;
		font-size:0;
	}

.main-navlist-1 
	{
		margin-left: 15px;
	}

#main-navbar ul.threecol 
	{ 
		float:right; 
		width: 520px; 
		padding:0; 
		margin:18px 50px 0 0; 
	}

.threecol li a 
	{
		display:block;
		height:100%;
		padding-left:15px;
		width:100%;
	}

#main-navbar ul 
	{
	list-style: none outside none; 
	}

#main-navbar li { 
	float: left; 
	width: 140px; 
	list-style: none outside none; 
	padding:0; 
	margin: 0 0 5px 0; 
	line-height:8px; 
	height:0.8em;
}

.business{	
	background: url(http://www.warwickshire.gov.uk/Web/graphics/Graphics.nsf/graphics/TopBullet1/%24file/bullet_arrow_1.gif) left no-repeat;
}

.council{	
	background: url(http://www.warwickshire.gov.uk/Web/graphics/Graphics.nsf/graphics/TopBullet2/%24file/bullet_arrow_2.gif) left no-repeat;
}

.environment{	
	background: url(http://www.warwickshire.gov.uk/Web/graphics/Graphics.nsf/graphics/TopBullet3/%24file/bullet_arrow_3.gif) left no-repeat;	
}

.leisure{	
	background: url(http://www.warwickshire.gov.uk/Web/graphics/Graphics.nsf/graphics/TopBullet4/%24file/bullet_arrow_4.gif) left no-repeat;	
}

.travel{	
	background: url(http://www.warwickshire.gov.uk/Web/graphics/Graphics.nsf/graphics/TopBullet5/%24file/bullet_arrow_5.gif) left no-repeat;
}

.learning{	
	background: url(http://www.warwickshire.gov.uk/Web/graphics/Graphics.nsf/graphics/TopBullet6/%24file/bullet_arrow_6.gif) left no-repeat;
}

.health{	
	background: url(http://www.warwickshire.gov.uk/Web/graphics/Graphics.nsf/graphics/TopBullet7/%24file/bullet_arrow_7.gif) left no-repeat;
}

.safety{	
	background: url(http://www.warwickshire.gov.uk/Web/graphics/Graphics.nsf/graphics/TopBullet8/%24file/bullet_arrow_8.gif) left no-repeat;
}

.community{	
	background: url(http://www.warwickshire.gov.uk/Web/graphics/Graphics.nsf/graphics/TopBullet9/%24file/bullet_arrow_9.gif) left no-repeat;
}

ul a{
	color: #000;
}

#main-navbar a, .sub-nav a, #main-navbar a:visited {
	text-decoration: none;
	color: #666;
}

#main-navbar a a:hover{
	color: #CC0000;
}


/***** Main Nav ends *****/
	

/***** Content starts *****/

h1#pageHeader
	{
		clear:both;
		color:#999;
		font-size:3em;
		padding-left:18px;
	}

h1#pageHeader a
	{
		text-decoration:none;
		font-weight:200;
		color:#777;
	}

article h1
	{
		font-weight:normal;
		margin:0;
		margin-top:2px;
	}

	
/** Content nav **/

nav#pageNav 
	{
		float:left;
		margin-right:40px;
	}

nav#pageNav ul
	{
		padding:0;
		margin:0;
		list-style:none;
	}

nav#pageNav li a
	{
		text-decoration:none;
		display:block;
		font-size:1.3em;
		width:120px;
		padding:8px 8px 8px 18px;
		background-image:url(http://www.warwickshire.gov.uk/Web/graphics/Graphics.nsf/graphics/Dotted+Line/%24file/dotted_line.gif);
		background-repeat:repeat-x;
		background-position:top left;
	}
	
nav#pageNav li a:link, nav#pageNav li a:hover, nav#pageNav li a:visited, nav#pageNav li a:active 
	{
		color:#444;
	}	
	
nav#pageNav li a:hover
	{
		color:white;
		background-color:green;
	}
	
	
nav#pageNav li.last
	{
		width:146px;
	background-image:url(http://www.warwickshire.gov.uk/Web/graphics/Graphics.nsf/graphics/Dotted+Line/%24file/dotted_line.gif);
		background-repeat:repeat-x;
		background-position:bottom left;
	}

/** Content nav ends **/	
	
#mainCol
	{
		float:left;
		width:574px;
		font-size:1.2em;
		line-height:150%;
	}
	
#mainCol header
	{
		display:block;
		margin-bottom:20px;
	}


/*** home page ***/

#latestBlogposts, #latestDatasets
	{
		float:left;
	}

#latestDatasets
	{
		width:170px;
	}

#latestBlogposts
	{
		width:374px;
		margin-right:30px;
	}
	
section#pageInfo
	{
		color:#999;
		border-top:1px solid #999;
		padding-top:10px;
		margin-top:30px;
		width:100%;
		display:block;
	}

ul#tags
	{
		margin:0;
		padding:0;
	}

ul#tags li
	{
		list-style:none;
		margin:15px 15px 10px 0px;
		float:left;
	}
	
ul#tags li a
	{
		-moz-border-radius:4px;
		-webkit-border-radius:4px;
		border-radius:4px;
		padding:4px 6px;
		background-color:#ddd;
		color:#333;
		text-decoration:none;
	}
	
ul#tags li a:hover
	{
		background-color:#1757C7;
		color:white;
	}	


/** homepage blog display **/

.blog
	{
		margin-bottom:30px;
	}
	
.blog h3
	{
		margin:0 0 0 0;
		line-height:140%;
	}
	
.blog h3 a
	{
		text-decoration:none;
	}
	
.blog h3 a:hover
	{
		border-bottom:1px dotted #aaa;
	}	
	
time
	{
		display:block;
		margin:2px 0 10px 0;
		color:#999;
	}
	
/*** forms ***/

label
	{
		display:block;
		font-weight:bold;
	}

/*** dataset/category listing ***/

table
	{
		border-collapse:collapse;
	}

table th
	{
		background-color: #666;
		color:white;
		padding:4px;
	}

.mainName
	{
		width:340px;
		padding-right:20px;
	}

.formats
	{
		text-align:center;
		width:68px;
	}
	
.publishDate
	{
		text-align:center;
		width:110px;
	}

.datasetList td, #categoryList td
	{
		padding:15px 4px;
		border-bottom:1px solid #ccc;
		vertical-align:top;
	}

.datasetName, .categoryName
	{
		font-weight:bold;
		font-size:1.2em;
		margin-bottom:3px;
	}
	
.datasetName
	{
		display:block;
	}
	
td.datasetCount
	{
		width:100px;
		text-align:center;
		margin-bottom:3px;
		font-size:1.2em;
	}

.datasetName a, .categoryName a
	{
		text-decoration:none;
	}

.datasetShortDescription
	{
		color:#666;
	}

.formatType
	{
		margin-right:4px;
		float:left;
		-moz-border-radius:4px;
		-webkit-border-radius:4px;
		border-radius:4px;
		background-color:green;
		padding:1px 3px;
		color:white;
		font-size:0.8em;
		margin-bottom:6px;
	}


/*** dataset contents ***/

#dataset header h1
	{
		margin-bottom:30px;
	}

#dataset section#description
	{
		display:block;
		border-bottom:1px solid #ccc;
		padding-bottom:10px;
	}

#dataset 
	{
		line-height:160%;
	}
	
#dataset #tags li
	{
		margin-top:0;
		margin-bottom:30px;
	}
	
#dataset p strong 
	{
		width:160px;
		display:block;
		float:left;
		padding-right:30px;
	}

#dataset #info p
	{
		clear:both;
	}

.datasetShow
	{
		border:1px solid red;
	}


article#datasetShow b
	{
	clear:both;
	display:block;
	}
	
/***** Content ends *****/	
	
	
	
/***** Footer *****/

footer
	{
		display:block;
		width: 760px;
		margin: 15px auto 15px auto;
		border-top:25px solid #E7E7E7;
		color: #1C8445;	
	}

footer ul, footer p
	{
		margin:0;
		padding:0;
	}
	
footer nav li
	{
		display:inline;
		margin-left:10px;
	}

footer .left
	{	
		float: left;
		padding: 6px;
	}

footer .right
	{	
		float: right;
		padding: 6px;
	}

footer .right a
	{	
		color: #1C8445;
		text-decoration:none;
	}

/***** Footer Ends *****/	
	
	
/** clearfix **/

.clearfix:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
/* End hide from IE-mac */