<article id="formatTypeNew" class="item new">
	<header>
		<h1>New format type</h1>
	</header>
	
<% form_for([:admin, @format_type]) do |f| %>

  <%= render "form", :f => f %>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', admin_format_types_path %>

</article>