<article id="datasetEdit" class="item edit">
	<header>
		<h1>Editing dataset</h1>
	</header>

<% form_for([:admin, @dataset]) do |f| %>

  <%= render "form", :f => f %>
  
  <p>
    <%= f.submit('Update', :class=>"update") %>
  </p>
<% end %>

<%= link_to 'Show', [:admin, @dataset] %> |
<%= link_to 'Back', admin_datasets_path %>

</article>