<h1>Editing audience</h1>

<% form_for([:admin, @audience]) do |f| %>
  

	<%= render "form", :f => f %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', [:admin, @audience] %> |
<%= link_to 'Back', admin_audiences_path %>