<article id="audienceShow" class="item show">
	<header id="page" class="clearfix">
		<h1><%= link_to h(@title), admin_audiences_path %> : <%=h @audience.name %></h1>

		<nav id="item">
			<%= link_to 'Edit', edit_admin_audience_path(@audience), :class => "niceButton editItem"  %>
		</nav>
	</header>

	<p>
	  <b>Name:</b>
	  <%=h @audience.name %>
	</p>

</article>