<h1>Editing category</h1>

<% form_for([:admin, @category]) do |f| %>

  <%= render "form", :f => f %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', [:admin, @category] %> |
<%= link_to 'Back', admin_categories_path %>