<article id="categoryList">
	<header>
		<h1>Categories</h1>
	</header>
	
	<table>
	  <tr>
	    <th class="mainName">Name</th>
	  </tr>
<%=debug Dataset %>
	<%	
		@categories.each do |category| %>
	  <tr>
	    <td class="mainName categoryName"><%= link_to category.name, category%></td>
	  </tr>
	<% end

	 %>
	</table>


</article>