<article id="categoryList">
	<header>
		<h1>Categories</h1>
	</header>
	
	<table>
	  <tr>
	    <th class="mainName">Name</th>
		<th class="datasetCount">Datasets</th>
	  </tr>
<% @datasets.each do |dataset|	%>
  <tr>
    <td class="mainName categoryName"><%= link_to dataset.category.name, dataset.category %></td>
	<td class="datasetCount"><%= dataset.count %></td>
  </tr>
<% end

 %>


	</table>


</article>